<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/films">WORK-SPACE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      id="burger"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{name}}</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">

        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a href="/films" class="btn btn-outline-white btn-sm">
              <i class="fas fa-house-user"></i>
              Home</a>
          </li>
          <li class="nav-item">

            <a href="/users" class="btn btn-outline-white btn-sm">
              <i class="fas fa-users"></i>
              Users</a>

          </li>
          <li class="nav-item dropdown">
            <form action="/logout" method="post">
              <button
                type="submit"
                class="btn btn-outline-dark btn-rounded"
                data-mdb-ripple-color="dark"
              >
                Disconnect
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>