{{#if message}}
  <div
    class="alert alert-warning alert-dismissible fade show mt-5"
    role="alert"
    id="alert-errors"
  >
    <strong>{{message}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}