{{#> layout }}

    <form action="/films" method="post">
        <div class="input-group" id="search">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" name="films_name"/>
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    </form>
    <div class="btn-group" id="filter_backoffice">
        <button type="button" class="btn btn-primary">filtrer par</button>
        <button
                type="button"
                class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
        >
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Titre du film</a></li>
            <li><a class="dropdown-item" href="#"> Nom d'acteur</a></li>
            <li><a class="dropdown-item" href="#"> Nom du réalisateur</a></li>
            <li>
                <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" href="#">Maison de prod</a></li>
        </ul>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {{#each films}}
                <div class="col">
                    <div class="card h-100">
                        {{# if poster_path}}
                        <img src="//image.tmdb.org/t/p/w500/{{poster_path}}"
                        {{else}}
                        <img src="http://via.placeholder.com/1080x1580"
                             {{/if}}
                             class="card-img-top"
                             alt="Skyscrapers"/>
                        <div class="card-body">
                            <h5 class="card-title">{{original_title}}</h5>
                            <p class="card-text">
                                {{# if overview}}
                                        {{overview}}
                                        {{else}}
                                        No overview
                                    {{/if}}
                            </p>
                            <p class="card-text">
                                Date Released: {{# if release_date}}
                                {{release_date}}
                            {{else}}
                                No date
                            {{/if}}
                            </p>
                            <p class="card-text">
                                Average vote: {{# if vote_average}}
                                {{vote_average}}
                            {{else}}
                                No vote
                            {{/if}}
                            </p>
                            <div>

                                    <button
                                            type="button"
                                            class="btn btn-outline-success btn-floating"
                                            data-mdb-ripple-color="dark">
                                        <i class="far fa-thumbs-up"></i>
                                    </button>

                                    <button
                                            type="button"
                                            class="btn btn-outline-success btn-floating"
                                            data-mdb-ripple-color="dark" type="submit">
                                        <i class="fas fa-share-alt"></i>
                                    </button>

                                    <button
                                            type="button"
                                            class="btn btn-outline-success btn-floating"
                                            data-mdb-ripple-color="dark">
                                        <i class="far fa-thumbs-down"></i>
                                    </button>
                                <form action="/films/all-films" method="post">
                                    <input type="hidden" name="film_name" value="{{original_title}}">
                                    <input type="hidden" name="synopsis" value="{{overview}}">
                                    <input type="hidden" name="vote_average" value="{{vote_average}}">
                                    <input type="hidden" name="image" value="{{poster_path}}">
                                    <input type="hidden" name="release_date" value="{{release_date}}">
                                    <input type="hidden" name="genre" value="{{genre_ids}}">
                                    <input type="hidden" name="id" value="{{id}}">

                                    <button
                                            type="submit"
                                            class="btn btn-outline-success btn-floating"
                                            data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>Oops! Something has gone wrong</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
{{/layout}}


