{{#> layout }}



<div class="input-group" id="search">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
  aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
<div>
<table class="table table-hover table-dark" id="user">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  {{#each user}}
    <tr>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td> 
        <button
        type="button"
        class="btn btn-outline-danger btn-rounded"
        data-mdb-ripple-color="dark">
        Bloquer
        </button>
        <button
        type="button"
        class="btn btn-outline-success btn-rounded"
        data-mdb-ripple-color="dark">
        Debloquer
        </button>
          <a href="users/{{id}}">Supprimer</a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
{{/layout}}





