#filter_backoffice {
  margin-top: 100px;
}

#user {
  width: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#search {
  margin-top: 150px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
